body
{
    background: #fefefe;
    margin: 0;
    padding: 0;
    max-width: 1920px;
    margin: auto;
    
}

/* Шапка */
.container
{  
    display: flex;
    margin: 0px;
    max-width: 100%;
    justify-content: center;
    align-items: stretch;
    flex-flow: row wrap;
    align-content: stretch;
    
}
.head
{   
    flex: 1 1 700px;
    display: flex;
    flex-flow: column wrap;
    padding: 20px 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #18bc9c;
    width: 100%;
    position: relative;
    height: 600px;
    justify-content: center;
}
.hat
{
    align-self: center;
    transition: 2s;
}
.hat:hover
{
    transform: rotate(360deg);
    transition: 2.5s;
}
.worker
{
    flex-basis: 40%;
    
}
.options
{  
   align-self: center;
   font-size: 50px;
   color: white;
   animation-name: cool;
    animation-duration: 9s;
}
.name
{   
    align-self: center;
    color: white;
    font-size: 70px;
    animation-name: cool;
    animation-duration: 5s;
}


/* Links */
#experience
{   
    display: flex;
    font-size: 60px;
    color: #2C3E50;
    border-bottom: 7px solid #2C3E50;
    width: 50%;
    justify-content:center;
    margin: 10px auto;
}
#experience1
{
    display: flex;
    border-top: 7px solid #2C3E50;
    width: 50%;
    justify-content:center;
    margin: 10px auto;
}


/* Portfolio */
.boxes
{
    flex: 1 1 700px;
    display: flex;
    flex-flow: row wrap;
    margin: 10px 100px 10px 100px;
}
.image
{
    margin: 10px;
    background: #fff;
    flex: 1 1 1100px;
}
.house 
{   
    margin: 10px 10px 10px 10px;
    flex-basis: 400px;
}
.house:hover
{
    opacity: 0.5;
    transition: 0.4s;
}
.cake:hover
{
    opacity: 0.5;
    transition: 0.4s;
}
.tent:hover
{
    opacity: 0.5;
    transition: 0.4s;
}
.game:hover
{
    opacity: 0.5;
    transition: 0.4s;
}
.safe:hover
{
    opacity: 0.5;
    transition: 0.4s;
}
.boat:hover
{
    opacity: 0.5;
    transition: 0.4s;
}
.cake
{   
    margin: 10px 10px 10px 10px;
    flex-basis: 400px;
}
.tent
{   
    margin: 10px 10px 10px 10px;
    flex-basis: 400px;
}
.game
{   
    margin: 10px 10px 10px 10px;
    flex-basis: 400px;
}
.safe
{   
    margin: 10px 10px 10px 10px;
    flex-basis: 400px;
}
.boat
{   
    margin: 10px 10px 10px 10px;
    flex-basis: 400px;
}
.image img
{
    width: 100%;
    height: auto;
    border-radius: 40px;
}


/* Animation */
@keyframes cool
{   from
  {
      opacity:0;
  }
    top
  {
      opacity:1;
  }
}
@keyframes spin
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}
@keyframes click
{
    from
    {
        opacity: 1;
    }
    to
    {
        opacity: 0.5;
    }
}


/*Меню*/
nav ul
{
    background-color: #2C3E50;
    font-size: 30px;
    overflow: hidden;
    color: white;
    text-align: center;
    margin: 0;
    transition: max-height 0.4s;
    transition: 0.5s;
}
nav ul li:hover a{
    color: #18bc9c;
    font-size: 35px;
    transition: 0.5s;
}
nav ul li
{
    display: inline-block;
    padding: 20px;
}
nav ul li a
{
    transition: 0.3s;
}
.handle
{
    width: 100%;
    background-color: #2C3E50;
    color: white;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    display: none;
    font-size: 30px;
    cursor: pointer;
}
@media screen and (max-width: 800px)
{
    nav ul li
    {   
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        text-align: left;
    }
    nav ul
    {
        max-height: 0px;
    }
    .showing
    {
        max-height: 20em;
    }
    .handle
{
    display: block
}
}
a
{
    text-decoration: none;
    color: white;
}


/* Footer */


/* Adress*/
.adress
{   
    display: flex;
    width: 100%;
    background-color: #2C3E50;
}
address
{   
    color: white;
    margin: 20px 5px 25px 33px;
    padding: 10px 0px 0px 5px;
}
.iconlink
{
    display: flex;
    justify-content: center;
     margin: 50px auto;
}
.gmail, .face, .vk
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 24px 5px 24px;
}


/* Contact */
.contact
{   
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: auto;
    width: 100%;
    background-color: #E9E9E9;
}
.name1
{
    margin: 10px 10px 10px 0px;
    width: 258px;
    height: 40px;
}
.login1
{
    margin: 10px 10px 10px 0px;
    width: 258px;
    height: 40px; 
}
.btn1
{
    background-color: #2C3E50;
    height: 36px;
    width: 120px;
    color: white;
    font-size: 18px;
    padding: 2px 5px 2px 5px;
    font-family: serif;
    border-radius: 40px;
    cursor: pointer;
}
.btn11
{   
    display: flex;
    justify-content: center;
    margin: 10px auto;
}
.foricon
{    
    display: flex;
    align-items: center;
    align-content: center;
    margin: 20px auto;
}
table 
{
    border: 1px solid #ccc;
    border-radius: 10px;
    border-collapse: collapse;
}
.firstrow
{
    background-color: #ccc;
}
.forform
{
    font-size: 50px;
    color: #2C3E50;
    border-bottom: 7px solid #2C3E50;
    text-align: center;
}

/* About */
.about
{   
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: auto;
    width: 100%;
    background-color: #18bc9c;
}
.tricolumn
{
    -mz-column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    overflow: hidden;
    font-size: 30px;
    color: white;
    font-family: sans-serif;
    margin: 0 15px 10px 15px;
}
h2
{
    font-size: 50px;
    color: white;
}
